

span.st-emotion-cache-9ycgxx.e1b2p2ww12{
    font-size: 15px;
}

div.st-emotion-cache-sh2krr.e1nzilvr5 p{
    font-size: 20px;
}

button.st-emotion-cache-19rxjzo.ef3psqc12{
    background-color: antiquewhite;
    color: black;
    border: 3px solid rgba(250, 250, 250, 0.2);
}

.st-emotion-cache-19rxjzo.ef3psqc12:hover{
    border: 3px solid red;
}

.st-emotion-cache-1fttcpj.e1b2p2ww11:hover{
    opacity: 0.8;
}